{% extends 'base.html' %}
{% block header %}
{% include 'header.html' %}
{% load static %}
{% endblock %}

{% block main %}

<div class="card car-default" id="espacio">
    <div class="card-header bg-warning">
        <h3 id="fig" class="card-tittle">
           <i class="fas fa-notes-medical" style="font-size: 30px;"></i> <span>
              {{title}}</span>
           <a href="{% url 'core:listar_paciente' %}" class="btn btn-danger float-right mx-2"> Cancelar</a>
        </h3>
     </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-5">
                    <div class="card mb-3 table-responsive mx-2 my-2">
                        <div class=" row no-gutters">
                            <div class="col-md-4">
                                {% if historia.paciente.foto %}
                                <img src="{{historia.paciente.foto.url}}" class="img-thumbnail rounded-circle"
                                    width="100%">

                                {% else %}
                                <img src="{% static 'imagenes/sinimagen.jpg' %}" class="img-thumbnail rounded-circle"
                                    width="100%">
                                {% endif %}

                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Datos del Paciente</h5>
                                    <p class="card-text"> {{historia.paciente.nombre}} {{historia.paciente.apellido}}
                                    </p>
                                    <p class="card-text"> Email:{{historia.paciente.email}}
                                    </p>
                                    <p class="card-text"> Telefono:{{historia.paciente.telefono}}
                                    </p>
                                    <p class="card-text"> Direccion:{{historia.paciente.direccion}}
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">

                                <textarea class="form-control" id="id_notas_internas" placeholder="Notas Internas"
                                    rows="3">{{historia.notas}}</textarea>
                            </div>
                        </div>
                        <div class="row">
                            <table class="table table-hover table-striped  m-1 ">
                                <thead class="bg-warning ">
                                    <tr class="h5">
                                        <th>Signo Vital</th>
                                        <th>Valor Tomado</th>
                                    </tr>
                                </thead>
                                <tbody class="delegacion-container" id="contenedor">
                                    {% for signo in signo_vitales%}
                                    <tr class="text-justify">
                                        <td>{{signo.signovital.descripcion}} </td>
                                        <td>{{signo.valor}} {{signo.signovital.medida}}</td>

                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

                <div class="col-7">
                    <div class="card table-responsive my-2">
                        <div class="row">
                            <div class="col-md-12">
                                <form method="POST">
                                    <div class="form-group row">
                                        <div class="col-6">
                                            <select class="form-control" id="id_grupo_antecedente">
                                                <option selected value="0">Grupo Antecedente</option>
                                                {% for grupo in lt_grupo_antecedentes %}
                                                <option value="{{grupo.id}}">{{grupo}}</option>
                                                {% endfor %}

                                            </select>

                                        </div>
                                        <div class="col-6">
                                            <select class="form-control" id="id_antecedente">


                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <input type="text" class="form-control" id="id_descripcion_antecedente"
                                                placeholder="Escriba el antecedente">
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-block" id="id_registrar_antecedente"
                                        type="button">Registrar
                                        Antecedente
                                    </button>

                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <table class="table table-hover table-striped  m-1 ">
                                <thead class="bg-warning ">
                                    <tr class="h5">
                                        <th>Antecedente</th>
                                        <th>Descripcion</th>
                                        <th class="text-center">Acciones</th>

                                    </tr>
                                </thead>
                                <tbody class="delegacion-container" id="id_contenedor">

                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
                
                
            </div>
            <a href="" id="id_actualizar" class="btn btn-primary float-right mx-2">Actualizar Historia</a>  
            <a href="{% url 'atencion:receta' %}?id_paciente={{historia.paciente.id}}" class="btn btn-success float-right"> Iniciar Consulta</a>  

        </div>
    </div>

</div>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
{% endblock %}

{% block jscript %}
  <script>
    const c = console.log

    let lt_historia_detalle = [],
          id_seleccionado = 0,
          por_editar = false,
          lt_grupo_antecedente = [],
          id_momentaneo = 0,
          id_paciente = "{{historia.paciente_id}}",
          token = "{{ csrf_token }}"
    
     const cargar_combo = async (id_grupo_antecedente) => {

        $("#id_antecedente").empty()

        const response = await fetch(`{% url "atencion:historia" %}?action=data_antecedente&id_grupo_antecedente=${id_grupo_antecedente}`,
            {
                headers: {
                    'Content-Type': 'application/json'

                }
            }
        )
 
        const resultado = await response.json()
        if (resultado.result == "ok") {
            resultado.lt_antecedentes.forEach(elemento => {
                $("#id_antecedente").append(`<option value="${elemento.id}">${elemento.descripcion}</option>`)
            })
        }
       
    }
    const limpiar_formulario = () => {
        $("#id_grupo_antecedente").val(0)
        $("#id_antecedente").empty()
        $("#id_descripcion_antecedente").val("")

    }
    const pintar_historia = (lt_historia_detalle) => {
        
        $("#id_contenedor").empty()

        lt_grupo_antecedente.forEach((el_grupo, index) => {
            
            lt_historia_detalle.forEach((elemento, index) => {
                
                if (el_grupo === elemento.id_grupo_antecedente) {
                    
                    $("#id_contenedor").append(
                        `
                        <tr class="text-justify fondo">
                            <td>${elemento.grupo_antecedente} - ${elemento.antecedente} </td>
                            <td>${elemento.descripcion}</td>
                            <td>
                                <a rel="action" data-json='{"accion":"elim" ,"id":"${elemento.id}"}'
                                class="btn btn-danger btn-sm" href="#">Eliminar</a>
                            </td>
                        </tr>
                        `
                        
                    )
                }

            })
        })
        
        limpiar_formulario()

    }
    const add_historia = async (id_grupo_antecedente, grupo_antecedente, id_antecedente, antecedente, descripcion) => {

        const data = {
            id: id_momentaneo,
            id_grupo_antecedente: id_grupo_antecedente,
            grupo_antecedente: grupo_antecedente,
            id_antecedente: id_antecedente,
            antecedente: antecedente,
            descripcion: descripcion
        }

        id_momentaneo = id_momentaneo + 1
        lt_historia_detalle.push(data)
        pintar_historia(lt_historia_detalle)
    }
    const delete_historia = (id) => {

        lt_historia_detalle = lt_historia_detalle.filter(elemento => elemento.id !== id)
        pintar_historia(lt_historia_detalle)
    }
    
    $('#id_contenedor').on('click', 'a[rel="action"]', async function () {

        let data = $(this).data('json'),
            action = data.accion,
            id = parseInt(data.id);

        if (action === "elim") {
            delete_historia(id)

        }
    });
    // al cargar pinta el detalle de la historia
    {% for obj_historia_detalle in list_historia_detalle %}
    lt_historia_detalle.push(
        {
            id: id_momentaneo,
            id_grupo_antecedente: parseInt("{{ obj_historia_detalle.antecedente.grupoAntecedente_id }}"),
            grupo_antecedente: "{{ obj_historia_detalle.antecedente.grupoAntecedente }}",
            id_antecedente: parseInt("{{ obj_historia_detalle.antecedente_id }}"),
            antecedente: "{{ obj_historia_detalle.antecedente }}",
            descripcion: "{{ obj_historia_detalle.descripcion }}"
        },
        
    )
    
    id_momentaneo = id_momentaneo + 1
    {% endfor %}

    {% for grupo in lt_grupo_antecedentes %}
    lt_grupo_antecedente.push(parseInt("{{grupo.id}}"))
    {% endfor %}

    pintar_historia(lt_historia_detalle)

    $(function () {
        alert("Entro a Historia");
        $("#id_grupo_antecedente").change(async function () {

            const id_grupo_antecedente = parseInt($(this).val())

            if (id_grupo_antecedente == -1) {
                empty()
            }
            else {
                cargar_combo(id_grupo_antecedente)

            }
        })
        $("#id_registrar_antecedente").click(async function () {

            const id_grupo_antecedente = parseInt($("#id_grupo_antecedente").val()),
                grupo_antecedente = $("#id_grupo_antecedente option:selected").text(),
                id_antecedente = parseInt($("#id_antecedente").val()),
                antecedente = $("#id_antecedente option:selected").text(),
                descripcion = $("#id_descripcion_antecedente").val()

            if (descripcion.length > 0 && id_grupo_antecedente != 0) {
                add_historia(id_grupo_antecedente, grupo_antecedente, id_antecedente, antecedente, descripcion)

            }
            return false

        })
        
        $("#id_actualizar").click(async function () {

            const parametros = new FormData()
            parametros.append("lt_historia", JSON.stringify(lt_historia_detalle))
            parametros.append("id_paciente", id_paciente)
            parametros.append("action", "update")
            parametros.append("csrfmiddlewaretoken", token)
            parametros.append("notas_internas", descripcion = $("#id_notas_internas").val())

            const response = await fetch(`{% url "atencion:historia" %}`,
                {
                    method: "POST",
                    body: parametros
                }
            )

            const resultado = await response.json()
            if (resultado.result == "ok") {
                alert("Registro actualizado con exito")
            }

        })
    })

</script>

{% endblock %}