{% extends 'base.html' %}
{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block main %}
{% load static %}
    <div class="card card-default" id="espacio">
         <div class="card-header">
             <h3 id="fig" class="card-tittle">
                <i class="fas fa-users" style="font-size: 30px;"></i> <span>
                   Consulta de Pacientes</span>
                <a href="{% url 'core:crear_paciente' %}" class="btn btn-primary float-right"><i class="fa fa-plus"></i>  Nuevo Paciente</a> 
             </h3>
          </div>
          <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-12">
                            <form action="" class="form-inline" method="GET">
                                <input name="nombre" value="{{nombre}}" class="form-control row col-8 mx-2" type="text" placeholder="Buscar..." aria-label="Search">
                                <button class="btn btn-outline-success mx-2" type="submit"><i class="fas fa-search"></i> Buscar</button>
                            </form>
                        </div>
                        <div class="col">
                            <table class="table table-hover table-striped mt-3">
                              <thead class="bg-warning text-light">
                                  <tr class="">
                                      <th>Foto</th>
                                      <th>Nombre</th>
                                      <th>Sexo</th>
                                      <th>Correo</th>
                                      <th>Telefono</th>
                                      <th>Ciudad</th>
                                      <th>Direccion</th>
                                      <th>Acciones</th>
                                  </tr>
                              </thead> 
                              <tbody id="contenedor" >
                                  {% for paciente in pacientes %}
                                  <tr class="text-justify">
                                      {% if paciente.foto %}
                                      <th><img class="img-thumbnail rounded-circle" width="60px" src="{{ paciente.foto.url }}" alt=""></th>
                                      {% else %}
                                      <td><img src="{% static 'imagenes/sinimagen.jpg' %}"
                                                class="img-thumbnail rounded-circle" width="60px"></td>
                                      {% endif %}
                                      <td>{{ paciente.nombre }}</td>
                                      {% if paciente.sexo == 'F' %}
                                      <td><span class="badge badge-pill badge-danger">{{paciente.sexo}}</span></td>
                                      {% else %}
                                      <td><span class="badge badge-pill badge-primary">{{paciente.sexo}}</span></td>
                                      {% endif %}
                                      <td>{{ paciente.email }}</td>
                                      <td>{{ paciente.telefono }}</td>
                                      <td>{{ paciente.ciudad }}</td>
                                      <td>{{ paciente.direccion }}</td>
                                      <td>
                                          <div class="d-flex justify-content-center" 
                                          aria-label=" with button groups">
                                               <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                                                    <a class="bot btn  btn-outline-success"
                                                    href="{% url 'atencion:receta' %}?id_paciente={{paciente.id}}"> <i class="fas fa-hand-holding-medical"></i><span class="tool">Consulta Medica</span></a>
                                                    <a class="bot btn  btn-outline-secondary"
                                                    href="{% url 'atencion:historia' %}?id_paciente={{paciente.id}}"> <i class="fas fa-notes-medical"></i><span class="tool">Historia Clinica</span></a>
                                                    <a href="{% url 'core:editar_paciente' paciente.id %}" class="bot btn btn-outline-primary"
                                                      ><i class="far fa-edit"></i><span class="tool">Editar paciente</span></a>
                                                   <a href="#" rel="action" data-json='{"action": "elim", "id":"{{ paciente.id}}"}'
                                                   class="bot btn btn-outline-danger"><i class="far fa-trash-alt"></i><span class="tool">Eliminar paciente</span></a>
                                                  
                                                    
                                               </div>
                                         </div>
                                      </td>
                                  </tr>
                                  {% empty %}
                                  <div class="alert alert-dark alert-dismissible fade 
                                  show mt- bg-info rounded shadow" role="alert">
                                     <div class="d-flex justify-content-center"><img src="{% static 'imagenes/alerta.png' %}" style="width: 50px;" alt=""></div>
                                 
                                 <h1 class="text-center text-danger font-weight-bold">Mensaje del Sistema</h1>
                                 <h2 class="ml-4 badge badge-danger" style="font-size: 2w;">No existen pacientes registrados!!!</h2>
                                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div> 
                                 {% endfor %}
                              </tbody>
                         </table>
                        </div>
                    </div>
                </div>
              
          </div>
            <!-- Menú de paginación -->
          {% if is_paginated %}
          <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                  {% if page_obj.has_previous %}
                  <li class="page-item ">
                      <a class="page-link"
                          href="?nombre={{nombre}}&page={{ page_obj.previous_page_number }}">&laquo;</a>
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                  </li>
                  {% endif %}
                  {% for i in paginator.page_range %}
                  {% if i <= page_obj.number|add:2 and i >= page_obj.number|add:-2 %}
                  {% if page_obj.number == i %}
                  <li class="page-item active" style="pointer-events:none">
                      <a href="#" class="page-link">{{ forloop.counter }}</a>
                  </li>
                  {% else %}
                  <li class="page-item">
                      <a href="?page={{ forloop.counter }}{{ url }}" class="page-link">{{ forloop.counter }}</a>
                  </li>
                  {% endif %}
                  {% endif %}
                  {% endfor %}
                  {% if page_obj.has_next %}
                  <li class="page-item ">
                      <a class="page-link" href="?nombre={{nombre}}&page={{ page_obj.next_page_number }}">&raquo;</a>
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                  </li>
                  {% endif %}
              </ul>
          </nav>
          {% endif %}
          <!-- Fin del pagineo -->
        </div>
          
    </div>

{% endblock %}

{% block frmodal %}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
      <form name="frmEliminar" id="frmEliminar" method="POST" action="{% url 'core:eliminar_paciente' 0 %}">
          {% csrf_token %}
          <div class="modal-header bg-primary text-light">
            <h3 class="modal-title ml-5 font-weigth-bold" id="exampleModalLabel">Mensaje del Sistema</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
             <input type="hidden" name="id" id="id" value="">
             <input type="hidden" name="action" value="elim">
             <div class="h3 text-center">
                 <label class="text-primary font-weight-bold" for="">Esta seguro de eliminar el paciente: </label>
                 <span class="text-light font-weight-bold badge badge-danger badge-pill" id="descripcion"></span>
             </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-danger">Eliminar</button>
          </div>
      </form>
  </div>
</div>
</div>

{% endblock %}

{% block js %}
<script>

$('#contenedor').on('click','a[rel="action"]', function () {
  var data = $(this).data('json'),
      action= data.action,
      id = data.id;
  
  if (action == 'elim') {

      var desc = $(this).parents('tr').children('td').eq(1).html();
      $('#descripcion').html(desc);
      $('#frmEliminar #id').val(id);

      $('#myModal').modal('show');
      return;
  }
});

</script>

<script >

</script>
{% endblock %}

